<!DOCTYPE html>
<html lang="en">

	<head>
			<title>Bootstrap Example</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!-- For now I am using Bootstrap 3 cdn link. Feel free to use Bootstrap 4 by replacing the link below -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<link rel="stylesheet" href="https://js.arcgis.com/4.5/esri/css/main.css">
			<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>




	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
							<i class="glyphicon glyphicon glyphicon-heart"></i>
							Medchain
							<!--Image to be inserted later (need photoshop) <img src='/images/medchain_text.png'/> -->
					</a>
				</div>
				<ul class="nav navbar-nav">
						<li><a href="/patient">Patient</a></li>
						<li><a href="/doctor">Doctor</a></li>
						<li><a href="/pharmacist">Pharmacist</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<h1 class='text-center'>DOCTOR PAGE</h1>
			<div class='row text-center' style='margin-top: 50px'>
				<button id='mybtn1' class='btn btn-md btn-success'>Button 1</button>
				<button id='mybtn2' class='btn btn-md btn-primary'>Button 2</button>
				<button id='mybtn3' class='btn btn-md btn-warning'>Button 3</button>
			</div>

			<div class='row text-center' style='margin-top:50px'>
				<span id='results' style='font-size: 1em'> Callbacks will appear here </span>
			</div>


			
		</div>




			

		<script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=" anonymous "></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>     
		<script src="https://js.arcgis.com/4.5/"></script>
		<script type="text/javascript " src="js/main.js "></script>
	</body>

</html>
