/* * * * * * * * * * * * * */


/* testing.ejs */

body {
    font-family: 'Raleway', sans-serif;
}

#header-section {
    color: #fff;
    background-color: #464646;
    height: 350px;
}

#face-picture {
    position: relative;
    top: 13.5em;
}

#face-picture img {
    float: right;
}

#name-and-role {
    position: relative;
    top: 15.5em;
}

#name-and-role h2 {
    font-weight: 700;
}

#personal-info {
    height: 120px;
    background-color: #000;
    color: #fff;

    /*text-align: center;*/
}

#address,
#phone-number,
#send-email {
    position: relative;
    top: 32%;
}

#address i,
#phone-number i,
#send-email i {
    float: right;
}

#phone-number span {
    padding-top: 1em;
}

#patient-info h2 {
    font-weight: 900;
    text-shadow: 0.8px 0;
}

#drugs ul {
    list-style-type: none;
    margin-top: 2em;
    margin-left: 1em;
    padding: 0;
    width: 65%;
}

#drugs ul li {
    font: 200 1.5em/1.5 Raleway, sans-serif;
    border-bottom: 1px solid #ccc;
}

#drugs ul li:last-child {
    border: none;
}

#drugs ul li a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 50%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#drugs ul li a:hover {
    color: inherit;
    font-size: 1.6em;
    background: inherit;
    border-radius: 0.2em;
}

#disease-select {
    margin-left: 2em;
    margin-top: 2em;
}

select[name='disease1'] {
    width: 70%;
    height: 3em;
    background-color: #464646;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1em;
    /*text-overflow: '';*/
}

select[name='disease1']:focus {
    outline: none;
}

#activity-list {
    list-style-type: none;
    margin-top: 2em;
    font-size: 1.2em;
}

#activity-list span {
    margin-left: 1em;
}

#patient-info .row:last-child {
    margin-top: 2em;
}

button#submit {
    width: 55%;
    height: 4em;
    text-align: left;
    text-indent: 1em;
    background-color: #F33259;
    color: #fff;
    outline: none;
    border: none;
    transition: 0.5s all;
}

button#submit i {
    margin-left: 0em;
    color: inherit;
    transition: all 0.8s;
}

button#submit:hover {
    border-radius: 0.5em;
    font-size: 1.1em;
}

button#submit:hover i {
    margin-left: 2.5em;
    color: #000;
}



.filler {
    height: 50px;
}


/* * * * * * * * * * * * * */